/**** main css ****/

body {
  background: #ccc;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.main {
  margin: 20px auto;
  width: 300px;
}

.container {
  padding: 10px;
  background: #009688;
  border-radius: 5px;
}

h3 {
  border-bottom: 2px solid #ccc;
  font-family: fantasy;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  background: #000;
  text-align: center;;
}

footer div {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #009688;
  text-decoration: underline;
}

.snowflake {
  color: #009688;
}