/*
 * header styles partials
 */
/* import variables, mixins */
/*
 * common variables
 */
/* colors */
/* font and font-family */
/* default margin and padding */
/* border */
/*
 * common sass mixins
 */
/*
 * common variables
 */
/* colors */
/* font and font-family */
/* default margin and padding */
/* border */
header {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */ }
  header .logo .item1, header .logo .item2 {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    border: 2px solid #000; }
  header .logo .item2 {
    background: #3bb18d;
    padding: 10px 15px;
    margin: 5px auto auto 5px;
    font-size: 20px;
    color: #000;
    z-index: 2;
    width: 17px;
    height: 23px;
    border: none; }
  header ul.main-menu {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    margin-left: auto;
    list-style: none; }
    header ul.main-menu li {
      padding-right: 20px; }

/*
 * main content styles partials
 */
/* import variables, mixins */
/*
 * common variables
 */
/* colors */
/* font and font-family */
/* default margin and padding */
/* border */
/*
 * common sass mixins
 */
/*
 * common variables
 */
/* colors */
/* font and font-family */
/* default margin and padding */
/* border */
body {
  background: #e6e5e1;
  font-family: monospace;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0; }

.inner-content {
  background: #e6e5e1;
  padding: 20px 30px;
  border: 8px solid #fff;
  width: 75%;
  -webkit-box-shadow: 0 15px 49px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 15px 49px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 49px -10px rgba(0, 0, 0, 0.5);
  color: #575b63;
  text-align: center;
  opacity: 0.95;
  margin: 3%; }
  @media (max-width: 480px) {
    .inner-content {
      padding: 5px; } }
  .inner-content section {
    width: 50%;
    padding: 20px; }
    .inner-content section .intro {
      font-size: 30px;
      line-height: 50px; }
    .inner-content section .tagline {
      font-size: 15px; }
    .inner-content section:first-child {
      border-right: 2px solid #575b63; }
    @media (max-width: 480px) {
      .inner-content section {
        padding: 5px; }
        .inner-content section .intro {
          font-size: 20px;
          line-height: 25px; } }
  .inner-content .heart {
    position: fixed;
    right: 10px;
    cursor: pointer;
    color: #575b63; }

/*
 * common sass mixins
 */
/*
 * common variables
 */
/* colors */
/* font and font-family */
/* default margin and padding */
/* border */
.flex-container {
  display: flex; }

.flex-space-around {
  justify-content: space-around; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-item {
  margin: 5px; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

/*
 * footer styles patials
 */
/* import variables, mixins */
/*
 * common variables
 */
/* colors */
/* font and font-family */
/* default margin and padding */
/* border */
/*
 * common sass mixins
 */
/*
 * common variables
 */
/* colors */
/* font and font-family */
/* default margin and padding */
/* border */
footer {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */ }
  footer a {
    color: #575b63;
    text-decoration: none; }
    footer a:before, footer a:after {
      content: "[";
      opacity: 0; }
    footer a:after {
      content: "]"; }
    footer a:hover {
      text-decoration: underline; }
    footer a:hover:before, footer a:hover:after {
      opacity: 1; }
  footer ul.secondary-menu {
    margin-left: auto;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    list-style: none; }
    footer ul.secondary-menu li {
      padding-right: 20px; }
  footer .other-links .tagline {
    color: #000;
    bottom: 20px;
    left: 10px;
    position: fixed;
    font-style: italic; }
  footer .other-links .heart {
    bottom: 10px;
    right: 10px;
    position: fixed; }
