@import "mixins";

.flex-container {
  @include display-flex();
}

.flex-space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item {
  margin: 5px;
}

.flex-row {
  @include flex-direction(row);
}

.flex-column {
  @include flex-direction(column);
}

.flex-center {
  justify-content: center;
}
