/* import variables, mixins */
@import "variables";
@import "mixins";

$button-height: 30px;

footer {
  @include display-flex();

  .other-links {
    .tagline {
      color: $default-font-color;
      bottom: $default-margin*2;
      left: $default-margin;
      position: fixed;
      font-style: italic;
    }
    .heart {
      bottom: $default-margin;
      right: $default-margin;
      position: fixed;
    }
  }
}
