/*
 * footer styles patials
 */

/* import variables, mixins */
@import "variables";
@import "mixins";

$button-height: 30px;

footer {
  @include display-flex();

  // nesting used
  a {
    color: $primary-color;
    text-decoration: none;

    &:before,
    &:after {
      content: "[";
      opacity: 0;
    }

    &:after {
      content: "]";
    }

    &:hover {
      text-decoration: underline;
    }

    &:hover:before,
    &:hover:after {
      opacity: 1;
    }
  }

  ul.secondary-menu {
    margin-left: auto;
    @include display-flex();
    list-style: none;

    li {
      padding-right: $default-padding*2;
    }
  }

  .other-links {
    .tagline {
      color: $default-font-color;
      bottom: $default-margin*2;
      left: $default-margin;
      position: fixed;
      font-style: italic;
    }
    .heart {
      bottom: $default-margin;
      right: $default-margin;
      position: fixed;
    }
  }
}
