/* import variables, mixins */
@import "variables";
@import "mixins";

$logo-width-height: 40px;
$padding-left-right: 15px;

header {
  margin-top: $default-padding*3;
  width: 100%;

  @media (max-width: 480px) {
    padding: $default-padding/2;
  }

  ul.secondary-menu {
    list-style: none;

    li {
      padding-right: $default-padding*2;

      // nesting used
      a {
        color: $primary-color;
        text-decoration: none;

        &:before,
        &:after {
          content: "[";
          opacity: 0;
        }

        &:after {
          content: "]";
        }

        &:hover {
          text-decoration: underline;
        }

        &:hover:before,
        &:hover:after {
          opacity: 1;
        }
      }
    }
  }

  ul.main-menu {
    @include display-flex();
    margin-left: auto;
    list-style: none;

    li {
      padding-right: $default-padding*2;
    }
  }
}
