/*
 * common variables
 */

/* colors */
$bg-color: #e6e5e1;
$secondary-bg-color: #3bb18d;
$primary-color: #575b63;

/* font and font-family */
$font-family: monospace;
$default-font-size: 20px;
$default-font-color: #000;

/* default margin and padding */
$default-padding: 10px;
$default-margin: 10px;

/* border */
$default-border-color: #000;
$primary-border-color: #3bb18d;
$secondary-border-color: #fff;
$default-border-size: 2px;
