/** 
** main stylesheet 
**/

// variables
@import "variables";

body {
  background: $primary-color;
  font-family: $default-font-family;
  margin: $margin-reset;
  padding: $padding-reset;

  .main {
    margin-top: $default-margin * 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      width: $main-content-width;  
      padding: $default-padding;
      border-radius: $default-border-radius;
      font-size: $default-font-size;

      h3 {
        font-family: $heading-font-family;
        font-size: $heading-font-size;
        color: $primary-text-color;
        cursor: pointer;

        &.site-name {
          padding-bottom: $default-padding / 2;
          border-bottom: $default-border-size dashed $primary-text-color;
        }        

        span {
          color: $secondary-color;
        }

      }

      .main-content {
        display: flex;

        aside.right {
          margin-left: $default-margin * 3;
          width: $siderbar-content-width;

          /* heart-beat */
          @keyframes heartbeat {
            0% { transform: scale( 1 ); }
            25% { transform: scale( .25 ); }
            50% { transform: scale( .50 ); }
            75% { transform: scale( 1 ); }
            100% { transform: scale( .50 ); }
          }

          .heartbeat {
            background: $primary-text-color;
            font-size: 0;
            color: $primary-text-color;
            width: 25px;
            height: 2px;
            animation: heartbeat 1s infinite;
          }
        }        
      }      

    }

  }

}