/** 
** main stylesheet 
**/
/**
** main variables file 
**/
/* colors */
/* margin, paddins and offsets */
/* width and height */
/* border */
/* font-family, font-size */
body {
  background: #ccc;
  font-family: monospace;
  margin: 0;
  padding: 0; }
  body .main {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
    body .main .container {
      width: 80%;
      padding: 10px;
      border-radius: 5px;
      font-size: 18px; }
      body .main .container h3 {
        font-family: fantasy;
        font-size: 25px;
        color: #009688;
        cursor: pointer; }
        body .main .container h3.site-name {
          padding-bottom: 5px;
          border-bottom: 1px dashed #009688; }
        body .main .container h3 span {
          color: #e6e3e3; }
      body .main .container .main-content {
        display: flex; }
        body .main .container .main-content aside.right {
          margin-left: 30px;
          width: 50%;
          /* heart-beat */ }

@keyframes heartbeat {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(0.25); }
  50% {
    transform: scale(0.5); }
  75% {
    transform: scale(1); }
  100% {
    transform: scale(0.5); } }
          body .main .container .main-content aside.right .heartbeat {
            background: #009688;
            font-size: 0;
            color: #009688;
            width: 25px;
            height: 2px;
            animation: heartbeat 1s infinite; }

/**
** footer stylesheet 
**/
/**
** main variables file 
**/
/* colors */
/* margin, paddins and offsets */
/* width and height */
/* border */
/* font-family, font-size */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px 10px;
  background: #e6e3e3;
  text-align: center;
  border-top: 1px dashed #009688; }
  footer a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px; }
    footer a:before, footer a:after {
      content: "[";
      opacity: 0; }
    footer a:after {
      content: "]"; }
    footer a:hover {
      color: #009688;
      border-color: #009688; }
    footer a:hover:before, footer a:hover:after {
      opacity: 1; }
  footer .heart {
    position: fixed;
    right: 10px;
    cursor: pointer;
    color: #ccc; }
